body{
    background-color:aquamarine;
    /*foreground-color:yellow;*/
    font-family: Cambria, sans-serif;

}

h1,h2,h3{
    font-family: Impact;
    color:red;
}

table{
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
    border-color: black;
    align-self: center;
}

th{
    background-color: blue;
    color: white;
    border: 1px solid;
    border-color: black;
}
td{
    text-align: center;
    border: 1px solid;
    border-color: black;
}

input[type=text], input[type=email], input[type=number]{
    background-color: pink;
    color: black;
}

select{
    padding: 10px 15px;
    border-radius: 4px;
    background-color: pink;
    color: purple;

}
input[type = submit], input[type=reset], input[type=button]{
    background-color: blue;
    color: white;
    cursor: pointer;
}
